target/
*.class

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse project files
.classpath
.project

# Intellij Idea
*.iml
.idea

/sane-zonal-ocr-module-alfresco/alf_data_dev/**/*
