<div class="datagrid ocr-profiler-widget ocrProfiler-widget" id="form">

    <div class="col-xs-12 col-lg-8 url-group">
        <label for="img-url">Indique la URL de imagen sobre la que quiere realizar el perfil de OCR.</label>
        <div class="input-group">
            <input type="text" class="form-control" id="img-url" name="url"/>
            <span class="input-group-btn">
                <!--<input type="submit" id="loadImageButton" class="btn btn-primary" value="url imagen"/>-->
                <button id="loadImageButton" class="btn btn-primary" type="button">Cargar imagen</button>
            </span>
        </div>
        <input type="hidden" id="profile" name="profile"/>
    </div>

    <div class="col-sm-6">
        <div class="col-sm-12 nopadding">
            <div class="form-group">
                <label for="type">Document Type:</label>
                <input type="text" id="type" class="form-control"/>
            </div>
        </div>
        <div class="form-inline col-sm-12 coordinate-group">
            <div class="form-group">
                <div class="col-sm-6 col-md-6 col-lg-2 input-group">
                    <span for="x1" class="input-group-addon"><strong>X<sub>1</sub>:</strong></span>
                    <input id="x1" class="form-control" value="0" readonly/>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2 input-group">
                    <span for="y1" class="input-group-addon"><strong>Y<sub>1</sub>:</strong></span>
                    <input id="y1" class="form-control" value="0" readonly/>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2 input-group">
                    <span for="width" class="input-group-addon"><strong>Width:</strong></span>
                    <input id="width" class="form-control" value="300" readonly/>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2 input-group">
                    <span for="height" class="input-group-addon"><strong>Height:</strong></span>
                    <input id="height" class="form-control" value="200" readonly/>
                </div>
            </div>
        </div>

        <div class="form-inline col-sm-12 coordinate-group">
            <div class="form-group">
                <div class="col-sm-6 col-md-6 col-lg-2 input-group">
                    <span for="realX" class="input-group-addon"><strong>RealX:</strong></span>
                    <input id="realX" class="form-control" readonly/>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2 input-group">
                    <span for="realY" class="input-group-addon"><strong>RealY:</strong></span>
                    <input id="realY" class="form-control" readonly/>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2 input-group">
                    <span for="x2" class="input-group-addon"><strong>X<sub>2</sub>:</strong></span>
                    <input id="x2" class="form-control" value="" readonly/>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2 input-group">
                    <span for="y2" class="input-group-addon"><strong>Y<sub>2</sub>:</strong></span>
                    <input id="y2" class="form-control" value="" readonly/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="form-group button-group">
            <button id="btnAgregar" class="btn btn-primary">Agregar zona ocr</button>
            <button id="btnGenerar" class="btn btn-primary">Generar perfil</button>
            <button id="btnDescargar" class="btn btn-success" disabled="disabled">Descargar</button>
        </div>
        <div class="form-group">
            <div class="panel panel-success">
                <div class="panel-heading">OCR zone structures</div>
                <table id="titulos" class="table">
                    <thead>
                    <tr align='center'>
                        <th id="titleX" class="col-xs-half">X</th>
                        <th id="titleY" class="col-xs-half">Y</th>
                        <th id="titleW" class="col-xs-half">W</th>
                        <th id="titleH" class="col-xs-half">H</th>
                        <th id="titleMetadata" class="col-xs-3">Metadata</th>
                        <th id="titleLanguage"  class="col-xs-2">Language</th>
                        <!-- <th id="titleTypography" class="col-xs-3">Typography</th> -->
                        <th id="titlePSM" class="col-xs-4-and-half">PSM</th>
                        <th id="titleRemove" class="col-xs-1">X</th>
                    </tr>
                    </thead>
                </table>
                <div id="lista">
                    <!-- Dinamic list -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 demo">
        <div>
            <div class="frame">
                <img id="photo" src="" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center">
        <textarea id="copyCode" class="form-control hidden" rows="10" cols="111" readonly="readonly"></textarea>
    </div>
</div>