    <!--<script type="text/javascript" src="../js/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="../js/jquery.imgareaselect.js"></script>-->
    <!--<script type="text/javascript" src="../js/ocr-profiler.js"></script>-->

    <!--<form action="/zk-ocr-profiler/profiler" method="post">&lt;!&ndash; enctype="multipart/form-data" &ndash;&gt;-->
        <!--<p>Indique la imagen sobre la que quiere realizar el perfil de OCR.</p>-->
        <!--<input type="text" name="url" size="100"/>-->
        <!--<input type="submit" value="Crear Perfil">-->
    <!--</form>-->


<div class="datagrid ocr-profiler-widget ocrProfiler-widget" id="form" style="height: 1800px; width: 910px;">

    <span style="font-size: 150%; font-family:monospace; font-weight: bold; padding-left: 0.3em; margin-top: 1em; padding-right: 0.3em;">OCR</span><span><sub>by zylk</sub></span>
    <div style="float: right;"><!-- style="float: right;" -->

            <ul>
                <li>
                    <p>Indique la imagen sobre la que quiere realizar el perfil de OCR.</p>
                    <input type="text" name="url" size="50"/>
                    <input type="submit" name="loadImage" value="url imagen"/>
                    <input type="hidden" id="profile" name="profile"/>
                </li>
                <li>
                    <span>Document Type:</span>
                    <input type="text" id="type"/>
                </li>
                <li>
                    <strong>X<sub>1</sub>:</strong>
                    <input type="text" id="x1" value="0" size="6" style="margin-right: 20px;"/>
                    <strong>Y<sub>1</sub>:</strong>
                    <input type="text" id="y1" value="0" size="6" style="margin-right: 20px;"/>
                    <b>Width:</b><input type="text" value="300" id="width" size="6" style="margin-right: 20px;"/>
                    <b>Height:</b><input type="text" id="height" value="200" size="6" style="margin-right: 20px;"/>
                    <button id="btnAgregar">agregar zona ocr</button>
                </li>
                <li>
                    <button id="btnGenerar">generar perfil</button>
                    <input type="submit" id="btnDescargar" disabled="disabled" name="download" value="descargar">
                </li>

                <li style="display: none;">
                    <span id="realX"></span>
                    <span id="realY"></span>
                </li>
                <li style="display: none;">
                    <b>X<sub>2</sub>:</b>
                    <input type="text" id="x2" value="-" />
                </li>
                <li style="display: none;">
                    <b>Y<sub>2</sub>:</b>
                    <input type="text" id="y2" value="-" />
                </li>
            </ul>
    </div>
    <table id="titulos">
        <thead style="width: 900px;">
        <tr align='center'>
            <th style="width: 35px;" id="titleX">X</th>
            <th style="width: 32px;" id="titleY">Y</th>
            <th style="width: 32px;" id="titleW">W</th>
            <th style="width: 32px;" id="titleH">H</th>
            <th style="width: 180px;" id="titleMetadata">Metadata</th>
            <th style="width: 140px;" id="titleLanguage">Language</th>
            <!-- <th id="titleTypography">Typography</th> -->
            <th style="width: 385px;" id="titlePSM">PSM</th>
            <th style="width: 50px;" id="titleRemove">X</th>
        </tr>
        </thead>
    </table>
    <div id="lista">
        <!-- Dinamic list -->
    </div>
    <textarea id="copyCode" rows="10" cols="111" readonly="readonly"></textarea>
    <div class="container demo">
        <div>
            <div class="frame" style="margin: 0 0.3em;">
                <img id="photo" src="" width="900px" />
            </div>
        </div>
    </div>
</div>